server.port: 8080
spring:
  profiles.active: dev
  application.name: k8s-deployment-platform
  jpa:
    hibernate.ddl-auto: update
    properties.hibernate.jdbc.time_zone: GMT+8
    database-platform: org.hibernate.dialect.H2Dialect
    show-sql: true
  datasource:
    url: jdbc:h2:mem:testdb
    driverClassName: org.h2.Driver
    username: sa
    password:
  h2.console:
    enabled: true
    path: /h2-console
logging:
  level:
    root: info
    org.springframework: info
    org.springframework.security: info
    com.s2u2m.services: info